/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2018, 10:56:39 PM
    Author     : GROSHI
*/
.div-for-block{
    border: 25px solid green;
    margin: 10% 5% 5% 5%;
    color:black;
    background:cornsilk;
}
.div-for-block-large{
    border: 25px solid olive;
    margin: 10% 1% 5% 1%;
    color:black;
    background:cornsilk;
}
.div-for-block-large h1{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: arial, sans-serif;
    animation-fill-mode: forwards;
}
.div-for-block-large h2{
    font-size: 30px;
    text-align: left;
    color: black;
    padding:10px;
    font-family: arial, sans-serif;
    animation-fill-mode: forwards;
}
.div-for-block-large p{
    text-align: left;
}

.div-for-block h1{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: arial, sans-serif;
    animation-fill-mode: forwards;
}
.div-for-block h2{
    font-size: 30px;
    text-align: left;
    color: black;
    padding:10px;
    font-family: arial, sans-serif;
    animation-fill-mode: forwards;
}
.div-for-para{
    //background:black;
    padding: 10px;
}
.div-for-para p{
   font-size: 20px;
   font-family: arial, sans-serif;
}
.div-for-para h4{
   font-size: 25px;
   color: black;
   font-family: arial, sans-serif;
}
.bold-dot{
    font-weight:300;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    font-size:15px;
    border-collapse: collapse;
}
.vipholder{
    width: 100%;
}

/* flex start*/

html {box-sizing: border-box; font-size: 62.5%;}
    
*, *:before, *:after {box-sizing: inherit;}



h1 {
	font-weight: 600;
	line-height: 0.8;
	text-align: center;
}

h2 {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 0.8;
	text-align: center;
}

.flex-wrapper {
	margin-bottom: 0rem;
	margin-top: 2rem;
}

.flex-grid {
	display: flex;
	justify-content:space-between;
	text-align: center;
}

.gallery-image-border{
    padding: 5px;
    background:#87CEEB;
    background-repeat:repeat;
    width: 100%;
    height: auto;
    border: 2px solid green;
    
    
}

.flex-grid 

.flex-grid:nth-child(odd) div {background: inherit; padding: 1rem 0;}
.flex-grid:nth-child(even) div {background: inherit; padding: 1rem 0;}




@media (min-width: 980px) {
	.flex-wrapper {
		padding-left: 0.5%;
		padding-right: 0.5%;
	}
	
	.flex-grid {margin-top: 1rem;}
	.flex-grid:first-child {margin-top: 0;}
	
	.d-col-1 						{width: 7.05%;}
	.d-col-2 						{width: 15.5%;}
	.d-col-3, 
	.d-col-thirds 					{width: 23.95%;}
	.d-col-4, 
	.d-col-quarters 				{width: 32.4%;}
	.d-col-5 						{width: 40.85%;}
	.d-col-6, 
	.d-col-halfs					{width: 49.3%;}
	.d-col-7 						{width: 57.75%;}
	.d-col-8 						{width: 66.2%;}
	.d-col-9 						{width: 74.65%;}
	.d-col-10 						{width: 83.1%;}
	.d-col-11 						{width: 91.55%;}
	.d-col-12, 
	.d-col-full 					{width: 100%;}
}




@media only screen and (min-width: 661px) and (max-width: 979px) {	
	.flex-wrapper {
		padding-left: 0.5%;
		padding-right: 0.5%;
	}
	
	.flex-grid {flex-flow: row wrap;}
	
	.t-col-4,
	.t-col-6,
	.t-col-12 {margin-top: 1rem}
	
	.t-col-4 		{width: 31.46%	}
	.t-col-6 		{width: 48.6%;}
	.t-col-12 		{width: 100%;}
	
	.flex-grid:first-child .t-col-4,
	.flex-grid:first-child .t-col-6,
	.flex-grid:first-child .t-col-12 {
		 margin-top: 0;
	}
}




@media only screen and (min-width: 0px) and (max-width: 660px) {
	.flex-wrapper {
		padding-left: 0.5%;
		padding-right: 0.5%;
	}
	
	.flex-grid {flex-flow: row wrap;}
	
	.m-col-6,
	.m-col-12 {margin-top: 1rem;}
	
	.m-col-6 		{width: 47.2%;}
	.m-col-12 		{width: 100%;}
	
	.flex-grid:first-child .m-col-6,
	.flex-grid:first-child .m-col-12 {
		 margin-top: 0;
	}
}
/*flex end*/

/*
Font familiy start
*/
.marquees {
 height: 50px;	
 overflow: hidden;
 position: relative;
}
.marguees p{
 font-size: 2em;
 color: limegreen;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 20px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: marguees 15s linear infinite;
 -webkit-animation: marguees 15s linear infinite;
 animation: marguees 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marguees {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marguees {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marguees {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
/*
Font familiy End
*/
